# Numpy Introduction
- Most useful functions
- Numpy datatype and attributes
- Creating Arrays
- Viewing arrays & matrices
- Sorting arrays
- Use cases

![anatomy of a numpy array](anatomy-of-a-numpy-array.png)

In [2]:
import numpy as np

### Numpy's main datatype is ndarray

In [3]:
a1 = np.array([1,2,3])
a1

array([1, 2, 3])

In [4]:
a2 = np.array([[1,2.3,3],
                [4,5,6.7]])
a2

array([[1. , 2.3, 3. ],
       [4. , 5. , 6.7]])

In [5]:
a3 = np.array([[[1,2,3],
                [4,5,6]],
                [[7,8,9],
                 [10,11,12]],
                [[13,14,15],
                [16,17,18]]])

a3

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]],

       [[13, 14, 15],
        [16, 17, 18]]])

In [6]:
a1.shape

(3,)

In [7]:
a3.shape

(3, 2, 3)

In [8]:
a3.ndim

3

In [9]:
a3.dtype

dtype('int64')

In [10]:
a2.dtype

dtype('float64')

In [11]:
a2.size

6

In [12]:
a3.size

18

In [13]:
type(a1), type(a2), type(a3)

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

### Create a DataFrame from a Numpy array

In [14]:
import pandas as pd

df = pd.DataFrame(a2)
df

     0    1    2
0  1.0  2.3  3.0
1  4.0  5.0  6.7

In [15]:
df1 = pd.DataFrame(a2)
df1

     0    1    2
0  1.0  2.3  3.0
1  4.0  5.0  6.7

## Creating arrays
- using np.array (we saw that earlier)
- np.ones
- np.zeros
- np.arange (arange with a single 'r')
- np.random
    - np.random.randint
    - np.random.random
    - np.random.rand

In [16]:
ones = np.ones((2,3))
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [17]:
zeros = np.zeros((2,3))
zeros

array([[0., 0., 0.],
       [0., 0., 0.]])

In [18]:
type(ones)

numpy.ndarray

In [19]:
ones.dtype

dtype('float64')

In [20]:
range_array = np.arange(0,10,2)                #start at 0 , end at 10 (excluding 10), step up by 2

In [21]:
range_array

array([0, 2, 4, 6, 8])

In [22]:
random_array = np.random.randint(1,10,size=(3,3))
random_array

array([[8, 7, 3],
       [7, 3, 6],
       [2, 9, 3]])

In [23]:
random_array_2 = np.random.random((5,3))
random_array_2

array([[0.81022077, 0.67982574, 0.54882537],
       [0.74809042, 0.7436249 , 0.34287911],
       [0.33690259, 0.36686016, 0.93671234],
       [0.63106528, 0.8697368 , 0.68269382],
       [0.88891213, 0.31764945, 0.93828138]])

In [24]:
random_array_3 = np.random.rand(5,3)
random_array_3

array([[0.74264355, 0.43200801, 0.08631473],
       [0.08787714, 0.57467101, 0.69963963],
       [0.311923  , 0.0536512 , 0.06584038],
       [0.94718965, 0.28286806, 0.18120195],
       [0.48961893, 0.54746052, 0.53119755]])

## Pseudo random numbers

In [25]:
# np.random.seed()

In [26]:
np.random.seed(seed=0)
random_array_4 = np.random.randint(0,10,size=(5,3))
random_array_4

array([[5, 0, 3],
       [3, 7, 9],
       [3, 5, 2],
       [4, 7, 6],
       [8, 8, 1]])

## Viewing arrays and matrices

In [27]:
np.unique(random_array_4)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [28]:
a1

array([1, 2, 3])

In [29]:
a2

array([[1. , 2.3, 3. ],
       [4. , 5. , 6.7]])

In [30]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]],

       [[13, 14, 15],
        [16, 17, 18]]])

In [31]:
a3[0]

array([[1, 2, 3],
       [4, 5, 6]])

In [32]:
a2[0]

array([1. , 2.3, 3. ])

In [33]:
a1[0]

1

#### Slicing with arrays

In [34]:

a3[:2,:2,:2]

array([[[ 1,  2],
        [ 4,  5]],

       [[ 7,  8],
        [10, 11]]])

In [35]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]],

       [[13, 14, 15],
        [16, 17, 18]]])

#### One dimensional arrays

<img alt="" class="cf lf lg" src="https://miro.medium.com/max/1400/1*qCb37genU3_WvDIOdGTFtw.png" width="700" height="140" loading="lazy" role="presentation">

#### Reverse Index

<img alt="" class="cf lc ld" src="https://miro.medium.com/max/875/1*oX-DupxrUUozOt2g99QMuA.png" width="700" height="140" loading="lazy" role="presentation">

In [37]:
array1 = np.array([2,3,1,5,6,7])

In [40]:
print(array1[1:4])

[3 1 5]

In [41]:
print(array1[:4])

[2 3 1 5]

In [42]:
print(array1[3:])

[5 6 7]

In [44]:
print(array1[-4:-1])

[1 5 6]

In [45]:
print(array1[-1:-4])

[]

#### Two dimensional arrays

<img alt="" class="cf lf lg" src="https://miro.medium.com/max/1400/1*MuApbrsUzbypM9cv7DuaOg.png" width="700" height="270" loading="lazy" role="presentation">

#### The first index is always along the axis surrounded by the least amount of brackets.
##### To get for example the number 5 from this array, you would have to index the array with the first and then the second index.

<img alt="" class="cf lf lg" src="https://miro.medium.com/max/1400/1*PM68z24YjA0mS1_ze420CQ.png" width="700" height="271" loading="lazy" role="presentation">

##### If think of 2D arrays organized in columns, you can think of the first index selecting the row and the second index selecting the column.

<img alt="" class="cf lf lg" src="https://miro.medium.com/max/1400/1*1q-R0OnJYMC1dD-ZIYPTdw.png" width="700" height="126" loading="lazy" role="presentation">

#### Reverse Index

<img alt="" class="cf lc ld" src="https://miro.medium.com/max/875/1*7K93NKSN1BxbTACqOR0xKw.png" width="700" height="279" loading="lazy" role="presentation">

In [46]:
array2 = np.random.randint(1,10,size=(5,3))

In [47]:
array2

array([[7, 8, 8],
       [9, 2, 6],
       [9, 5, 4],
       [1, 4, 6],
       [1, 3, 4]])

In [49]:
print(array2[:,1:3])

[[8 8]
 [2 6]
 [5 4]
 [4 6]
 [3 4]]

In [50]:
print(array2[2:,2:])

[[4]
 [6]
 [4]]

In [51]:
print(array2[:4,:2])

[[7 8]
 [9 2]
 [9 5]
 [1 4]]

#### Three Dimensional array

<img alt="" class="cf lc ld" src="https://miro.medium.com/max/875/1*Ka3dkCqV5hyBnpl5Cs6EyA.png" width="700" height="179" loading="lazy" role="presentation">

#### The first index always selects the element inside the most outer square brackets. By this logic you can figure out the order of indexes in any arbitrary array.

##### Let’s say I want to retrieve the number 10 from this array. In thought, start with the full array and select the part containing the number you want, throwing away the rest.

<img alt="" class="cf lc ld" src="https://miro.medium.com/max/875/1*MbjPNIRXoo8oq0Q15U20tg.png" width="700" height="332" loading="lazy" role="presentation">

##### So to print the number 10 in this array, I would use the indexes 1,2,0.

<img alt="" class="cf lc ld" src="https://miro.medium.com/max/875/1*kGSRnyU6xD54doFNRVd5gg.png" width="700" height="143" loading="lazy" role="presentation">

#### Reverse Index

<img alt="" class="cf lc ld" src="https://miro.medium.com/max/875/1*vSMvExLCUQtAwn_-SQoDeQ.png" width="700" height="183" loading="lazy" role="presentation">

In [52]:
array3 = np.random.randint(1,10,size=(5,3,5))

In [53]:
array3

array([[[9, 2, 4, 4, 4],
        [8, 1, 2, 1, 5],
        [8, 4, 3, 8, 3]],

       [[1, 1, 5, 6, 6],
        [7, 9, 5, 2, 5],
        [9, 2, 2, 8, 4]],

       [[7, 8, 3, 1, 4],
        [6, 5, 5, 7, 5],
        [5, 4, 5, 5, 9]],

       [[5, 4, 8, 6, 6],
        [1, 2, 6, 4, 1],
        [6, 1, 2, 3, 5]],

       [[3, 1, 4, 3, 1],
        [8, 6, 1, 3, 8],
        [3, 3, 4, 4, 3]]])

In [56]:
print(array3[:3,:2,:3])

[[[9 2 4]
  [8 1 2]]

 [[1 1 5]
  [7 9 5]]

 [[7 8 3]
  [6 5 5]]]